@import '../../styles/settings.scss';

.component {
  width: 100%;
  min-height: 30px;
  position: relative;
  background-color: $color-light;
  border-radius: $radius;
  margin-bottom: 10px;

  &:hover {
    background-color: #ecf0f1;
    cursor: pointer;
  }

  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-dark;
    font-size: 2em;
  }
}

.list {
  position: absolute;
  width: 50%;
  bottom: -150%;
  transform: translateX(50%);
  display: flex;
  z-index: 1000;
  flex-direction: row;
  background: $color-light;
  border-radius: $radius;
  padding: 0 15px;

  p {
    color: $color-dark;
  }

  &.shown {
    display: flex;
    z-index: 1000;
  }

}
