@import '../../styles/settings.scss';

.component {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: $color-light;
  border-radius: $radius;
  margin-bottom: 10px;

  &:hover {
    background-color: #ecf0f1;
    cursor: pointer;
  }

  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-dark;
    font-size: 2em;
  }
}
