@import '../../styles/settings.scss';

.component {
  width: 100%;
  min-height: 30px;
  position: relative;
  background-color: $color-light;
  border-radius: $radius;
  margin-bottom: 10px;

  &:hover {
    background-color: #ecf0f1;
  }

  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-dark;
    font-size: 2em;

    &:hover {
      cursor: pointer;
    }
  }

  h4 {
    color: $color-dark;
    font-size: 2em;
    margin: 10px;
  }
}

.list {
  position: absolute;
  width: 50%;
  top: 0;
  transform: translate(50%, 35%);
  display: block;
  z-index: 1000;
  background: $color-light;
  border-radius: $radius;
  padding: 0 15px;

}

ul {
  list-style-type: none;

  li {

    p {
      color: $color-dark;

      &:hover {
        cursor: pointer;
        color: $color-warning;
      }
    }
  }

}
